/*Header*/

#header {
    background-color:rgba(0, 0, 0, 0.527);
}

/*Body*/

body {
    background-color: rgba(0, 0, 0, 0.925);
    font-family: 'Open Sans', sans-serif;
}

input[typye="email"] {
    border-bottom-left-radius: 0px;;
    border-bottom-right-radius: 0px;;
}

input[typye="password"] {
    border-top-left-radius: 0px;;
    border-top-right-radius: 0px;;
    border-top: 0px ;
} 

/*Logo*/

#logo {
    display: block;
    height: 25%;
    width: 30%;
    position: static;
    right: 31%;
    margin-left: 34%;
    margin-top: 20%;
    justify-content: center;
}

.h3 {
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 40px;
}

/*Carousel*/

#bandeau {
    margin-top: 30px;
    margin-bottom: 50px;
    }
    
    /* NEWWWWW le titre du carousel !!!!*/
    .movietitle {
    text-shadow: 4px 3px 3px rgb(0, 0, 0);
    font-size: 60px;
    margin-bottom: 70px;
    }
    
    /* NEWWWW Le Titre pour les formulaires*/
    .h3 {
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 40px;
    }

/* Cards */

.card-body {
    height: 100% ;
    color: black;

}

.col-md-6 {
    margin-top: 35px;
    justify-content: center;
    margin-bottom: 60px;
}

.card-title-1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

.card-text-1 {
font-family:'Open Sans', sans-serif; 
font-size: 15px;
}

.scroll-box {
    overflow-y: scroll;
    height: 100px;
    padding: 1rem
}

/*bouton d'envoi page Movie*/

#submit {
    float: right;
    margin-top: 1rem;
}

/*Couleur p page Movie*/
.white{
    color: white;
}


/*Padding titre film page Movie*/
.paddingTop{
    padding-top: 60px;
    color: white;
}

/*Margin search & dropdown*/
#search {
    margin-right: 1rem;
}

#account {
    margin-right: 1rem;
}

#signin {
    margin-right: 900px;
   }


/*New !! Profile page*/
.container-profilepic {
    width: 300px;
    height: 300px;
  
}
.photo-preview {
    background-image: url( https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80 );
    background-size: cover;
    background-position: center;
}
.middle-profilepic {
    background-color: rgba( 255,255,255, 0.69 );
}
.container-profilepic:hover .middle-profilepic {
    display: flex!important;
    cursor: pointer;
}

#pic {
    display: flex;
    justify-content: center;
}

#profilepage {
    display: flex;
    justify-content: center;
}



/*NEEEEEEWWWW MOVIE PAGE - Rend la page des vidéos responsive*/

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 2rem;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  
/*NEEEEW -Met les images des cards à la même hauteur */
.card-img-top {
    width: 100%;
    height: 35vw;
    object-fit: cover;
}


/*NEEEW - ajustement des cards */

#cards {
    margin-top: 80px;
}


.col-md-3 {
    margin-top: 15px;
}

#newsletter {
    align-items: center;
}