/*Header*/

#header {
    background-color:rgba(0, 0, 0, 0.527);
}

/*Body*/

body {
    background-color: rgba(0, 0, 0, 0.925);
    font-family: 'Open Sans', sans-serif;
}

input[typye="email"] {
    border-bottom-left-radius: 0px;;
    border-bottom-right-radius: 0px;;
}

input[typye="password"] {
    border-top-left-radius: 0px;;
    border-top-right-radius: 0px;;
    border-top: 0px ;
} 

/*Logo*/

#logo {
    display: block;
    height: 25%;
    width: 30%;
    position: static;
    right: 31%;
    margin-left: 34%;
    margin-top: 20%;
    justify-content: center;
}

.h3 {
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 40px;
}

/* Cards */

.card-body {
    color: black;
}

.col-md-3{
margin-top: 20px;
}

.card-img-top {
height: fit-content;
}

.col-md-6 {
    margin-top: 35px;
    justify-content: center;
    margin-bottom: 60px;
}

.card-title-1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

.card-text-1 {
font-family:'Open Sans', sans-serif; 
font-size: 15px;
}

.scroll-box {
    overflow-y: scroll;
    height: 100px;
    padding: 1rem
}

/*bouton d'envoi page Movie*/

#submit {
    float: right;
    margin-top: 1rem;
}

/*Couleur p page Movie*/
.white{
    color: white;
}

/*Padding titre film page Movie*/
.paddingTop{
    padding-top: 60px;
    color: white;
}

/*Margin search & dropdown*/
#search {
    margin-right: 1rem;
}

#account {
    margin-right: 1rem;
}

