footer {
  height: 50px;
  left: 0;
  position:sticky;
  right: 0;
  overflow-x: 0;
}
body {
    overflow-x: hidden ;
    padding: 0%;
    margin: 0%;
    
}
#backgroundimg {
    height: 100%;
    width: 100%;
    filter: blur(3px)

}
.box {
    height: 400px;
    width:  700px;
    border-radius: 20%;
    background-color: #D81159;
    
    position:absolute;
    top: 30%;
    left: 29%;
    right: 60%;
    align-items: center;
    align-self: flex-end;
    opacity: 90%;
}
#logo {
        width: 300px;
        height: 300px;
        position: absolute;
        align-content: center;
        left: 40%;
        margin-top: 2%;
}
#logobox {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 12%;
    bottom: 15%;
    
}
.button1 {
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    height: 15%;
    width: 15%;
    position: relative;
    top: 65%;
    left: 12%;

}
.button2 {
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    height: 15%;
    width: 17%;
    position: relative;
    top: 65%;
    left: 60%;
}
h2 {
    text-align: center;
    bottom: 90%;
    left: 7%;
    top: 35%;
    position: absolute;
    color: rgb(255, 255, 255);
}
.box:hover {
    color: darksalmon;
    background: rgb(156, 4, 4);
    transform-origin: top;
    transform:scale(1.2);
}